/* left column */
.desktop-display{
  float: left;
  margin: 30px 0 0 50px;
  width: 350px;}

/* Account */
.component-LeftRailLayout{
  width: 220px;
  height: 260px;
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 8%);
  padding-top: 20px;
  margin-top: 3px;
  text-align: center;
}
.account{
  margin-bottom: 50px;
}
.account_img{
 	width: 105px;
 	height: 105px;
  margin-top: 5px;
  object-fit:cover;
  border-radius:50%;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 8%);
 }
.account_name{
  font-size: 16px;
  margin: 10px 0 0 0;
  word-break: break-all;
}
.account_description{
  font-size: 12px;
  font-style: oblique;
  margin: 5px 0;
  padding: 0 5px;
  word-break: break-all;
}
/* SignIn btn */
.btn-square {
  display: inline-block;
  width: 130px;
  padding: 0.5em 1em;
  margin-top: 15px;
  text-decoration: none;
  background: #76BABA;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #76BABA;
  border-radius: 3px;
}
.btn-square:hover{
  opacity: 0.6;
}
.btn-square:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


/* center content */
#contents {
   float: left;
   margin-top: 30px;
   width: 600px;     /* floatの width 指定は必須です。*/
}